* {
	box-sizing: border-box;
	position: relative;
}

body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	margin: 0 auto;
	margin-top: 85px;
	width: 70%;
	background-color: #0098FFFF;
	border-radius: 10px;
	box-shadow: 5px 10px #303030;
	padding: 20px;
	text-align: center;
	background: linear-gradient(to top left, white, #0098FFFF);
}

h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: 'Anton', 'Arial', 'Helvetica', 'san-serif';
	font-style: italic;
	text-decoration: underline;
	color: #15E96EFF;
	text-shadow: 5px 4px 2px rgba(152, 150, 150, 0.61);
	padding: 20px;	
}

#startScreen {
	height: 300px;
	padding: 90px;
}

.gameButton {
	margin: 0 auto;
	margin-top: 10px;
	font-size: 40px;
	font-family: 'Arial', 'Helvetica', 'san-serif';
	text-decoration: none;
	padding: 20px;
	background-color: #00FFFFFF;
	color: white;
	width: 180px;
	border-radius: 20px;
	transition: .2s;
}

.gameButton:hover {
	background-color: #B6FFFFFF;
	cursor: pointer;	
}


.is-hidden {
	display: none;
}

h2 {
	font-size: 30px;
	font-family: 'Arial', 'Helvetica', 'san-serif';
	padding: 20px;
	text-decoration: underline;
}

p {
	font-size: 25px;
	font-family: 'Arial', 'Helvetica', 'san-serif';
	padding: 10px;
}